.bigHeader {
  color: #0075b9;
  opacity: 1;
  font: italic normal normal 40px/42px "Montserrat";
  font-size: 40px;
  border-top: 1px solid rgb(191, 190, 190);
  padding-top: 10px;
}

.news {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  float: left;
  width: 100%;
  font-family: "Montserrat";
}
