@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,300;1,600&display=swap");
// colors
$backgroundPrimary: #f6f8f7;
$backgroundSecondary: #def0ec;
$primaryColor: #0b3954;
$secondaryColor: #0b3954;
$buttonFontColor: #ffffff;

// fonts

$fontFamily: "Poppins";

// sizes
$buttonFontSize: 14px;
$cardHeadingFontSize: 32px;
$cardHeadingWeight: 500;
