@import "../../styles/_global.module.scss";
.container {
    display: flex;
    align-items: center;
    text-align: end;
    align-self: flex-start;
    margin-left: auto;
    padding-top: 20px;
    margin-top: 40px;
    min-width: 200px;
    max-width: 200px;
    height: 80px;
}

.textImage {
    align-self: center;
    padding-right: 15px;
}

.logoImage {
    align-self: center;
    padding: 2px;
}

.footer {
    color: #808080;
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 10rem;
    padding-bottom: 5rem;
}