@import "../../../styles/_global.module.scss";

.card {
  width: 40rem;
  margin: 10rem 0;
  padding: 1rem;
}

.button {
  margin-top: 1rem;
}

.container {
  display: flex;
  justify-content: center;
}

.label {
  margin-bottom: 0.5rem;
}
