@import "../../../styles/_global.module.scss";

.greenProducts {
  padding: 10px 10px 10px 10px;
}

.Health {
  padding: 10px 10px 10px 10px;
}

.Community {
  padding: 10px 10px 10px 10px;
}

.searchGroup {
  display: block;
  height: 25px;
  justify-content: left;
  padding-left: 75px;
  padding-top: 25px;
  align-items: center;
  color: #096eb6;
  font-size: 28px;
  font-weight: 700;
  font-family: $fontFamily;
}

.searchBox {
  border-radius: 5px;
  margin-top: 130px;
  height: 65px;
  width: 400px;
  padding-left: 15px;
  margin-left: 75px;
  font-family: $fontFamily;
  font-weight: 600;
  border: none;
  box-shadow: 0 4px 5px 0 rgb(194, 191, 191), 0 1px 10px 0 rgb(194, 191, 191),
    0 2px 4px -1px rgb(194, 191, 191);
}

.searchButton {
  align-items: center;
  background-color: $primaryColor !important;
  border: 1px solid $primaryColor !important;
  border-radius: 16px !important;
  box-sizing: border-box;
  box-shadow: 0 4px 5px 0 rgb(231, 231, 231), 0 1px 10px 0 rgb(231, 231, 231),
    0 2px 2px -1px rgb(231, 231, 231) !important;
  color: $buttonFontColor !important;
  display: flex !important;
  font-family: $fontFamily;
  font-size: 18px !important;
  font-weight: $fontFamily !important;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-top: 137px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.searchContainer {
  position: relative;
}
